<header class="header navbar navbar-inner">
    <nav tolerance='20' offset='200' class="navbar navbar-default navbar-fixed-top" role="navigation" headroom>
        <section>
            <div class="container">
                <ul class="nav navbar-nav pull-left">
                    <li class="back animated fadeInLeft" ng-class="{'ng-hide': isActive('catalog')}">
                        <a href back-step class="back">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </li>
                    <li class="products" ng-class="{'active': isInPath('catalog') || isInPath('product') || isInPath('cart/default')}">
                        <a id="451qa_home_link" ng-show="Four51User.isAuthenticated()" href="catalog">
                            <i class="fa fa-home"></i>
                            <span class="hidden-xs">{{'Products' | rc}}</span>
                        </a>
                    </li>   				
                    <li class="favorites hidden-xs" ng-class="{'active': isActive('search')}">
                        <a id="451qa_cont_link" href="search">
                            <i class="fa fa-search"></i>
                            <span class="hidden-xs">Search</span>
                        </a>
                    </li>
                    <li class="logout">
                        <a href="#"  class="451_btn_logout" ng-click="Logout()">
                            <i class="fa fa-power-off text-danger"></i>
                            <span>{{'Log Out' | r}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
</header>